{% if reservations|length >0 %}
<li><a href="{{ path('message') }}" class="scroll-link">Messages<span class="badge" style="background-color: white;color:rgb(204, 42, 108);margin-left: 5px; ">{{ reservations|length }}</span></a></li>
{% endif %}
