{% extends '::base.html.twig' %}
{% block body %}
<section id="services">
    <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>Evénements</h2>
                    <h4>Chaque salle a ses propres offres dont se focalisent sur les services les plus fondamentals  </h4>
                </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
                    <div class="service-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="service-info" style="padding-right: 10px;">
                        <h3>Couple</h3>
                        <h5 style="text-align: center;line-height: 140%">Présentation de quelque chose spéciale <br>pour les époux star</h5>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="450ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 450ms; -webkit-animation-delay: 450ms; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
                    <div class="service-icon">
                        <i class="fa fa-music"></i>
                    </div>
                    <div class="service-info">
                        <h3>Music</h3>
                        <h5 style="text-align: center;line-height: 140%">Choix de type de music joué le jour de la fête (douce,classique..)</h5>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="550ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 550ms; -webkit-animation-delay: 550ms; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
                    <div class="service-icon">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="service-info">
                        <h3>Reception</h3>
                        <h5 style="text-align: center;line-height: 140%">Choix de qualité et type de pâtisserie et jus dont seront distribués aux invités</h5>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="650ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 650ms; -webkit-animation-delay: 650ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="service-icon">
                        <i class="fa fa-camera"></i>
                    </div>
                    <div class="service-info" style="padding-right: 15px;">
                        <h3>Photographie</h3>
                        <h5 style="text-align: center;line-height: 140%">L'accord sur les details de la record vidéo ou la prise des images tels que la durée, la qualité et les scénes interessantes</h5>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="750ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 750ms; -webkit-animation-delay: 750ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="service-icon">
                        <i class="fa fa-bitbucket"></i>
                    </div>
                    <div class="service-info">
                        <h3>Orchéstre</h3>
                        <h5 style="text-align: center;line-height: 140%">Choix de l'équipe musicale qui va executer de la musique durant la soirée</h5>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="850ms" style="visibility: visible; animation-duration: 1000ms; -webkit-animation-duration: 1000ms; animation-delay: 850ms; -webkit-animation-delay: 850ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <div class="service-icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="service-info" style="padding-right: 15px;">
                        <h3>Sécurité</h3>
                        <h5 style="text-align: center;line-height: 140%">Recrutement des équipes de sécurité pour garantir le bon déroulement de la fête</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}